@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700italic');

body{
	font-family: 'Opens Sans', sans-serif;
	padding: 20px 50px 150px;
	text-align: center;
	background: #001a1a;
}

ul{
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* unlisted list style */
ul li{
	font: 12px/18px;
	font-weight: bold;
	display: inline-block;
	margin-right: -4px;
	padding: 15px 20px;
	background: #fff;
	transition: all 0.2s;
	cursor: pointer;
}

ul li:hover{
	background: #555;
	color: #1eb39a;
}

/* style for the dropdown menu */
ul li ul{
	padding: 0;
	position: absolute;
	top: 75px;
	margin-left: -20px;
	width: 150px;
	box-shadow: none;
	opacity: 0;
	transition: opacity 0.2s;
	display: none;
}

ul li ul li{
	background: #555;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	cursor: pointer;
}

ul li ul li:hover{
	background: #666;
}

ul li:hover ul{
 /*reveal the dropdown menu on hover */
 display: block;
 opacity: 1;
}